{% extends "layout.html" %}

{% block title %} Menú principal {% endblock %}

{% block content %}

<h2>Menú principal</h2>
<hr/>
<div id="main-container" class="row">
  <div class="col-md-6 col-lg-4 p-3">
    <div class="card">
      <div class="card-body">
        <h4>Citas</h4>
        <p class="card-text">Consulte las citas de los próximos 7 días</p>
        <div class="d-grid gap-2">
          <a id="appointments-link" class="btn btn-primary btn-lg" href="{% url 'list_appointments' %}" role="button">Consultar citas</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 p-3">
    <div class="card">
      <div class="card-body">
        <h4>Pacientes</h4>
        <p class="card-text">Ingresar nuevo paciente</p>
        <div class="d-grid gap-2">
          <a id="patients-link" class="btn btn-primary btn-lg" href="{% url 'register_patient' %}" role="button">Registrar paciente</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 p-3">
    <div class="card">
      <div class="card-body">
        <h4>Procedimientos de salud</h4>
        <p class="card-text">Consulte los procedimientos de salud asociados a los pacientes</p>
        <div class="d-grid gap-2">
          <a id="procedures-link" class="btn btn-primary btn-lg" href="{% url 'health_procedures' %}" role="button">Consultar procedimientos de salud</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
