{% extends "layout.html" %}

{% block title %} Registrar cita {% endblock %}

{% block content %}

{% if success %}
    <div class="alert alert-success" role="alert">
      {{success}}
    </div>
{% endif %}

<div class="form-small">
  <div class="card">
    <div class="card-body">
      <h1>Registrar Cita</h1>
      <hr/>
      <form id="form_register_appointment" action="{% url 'register_appointment' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="d-grid gap-2">
          <button name="submit_button" type="submit" class="btn btn-primary btn-lg">Registrar</button>
        </div>
      </form>
    </div>
  </div>  
</div>
{% endblock %}