.title{
    font-size: 10px;
}
.container{
    margin-top: 30px;
    margin-left: 50px;
}

.item-group{
    margin-top: 30px;
}
.navbar-group{
    background-color: #2A4163;
}
.navbar-brand{
    color:white;
    font-family: Inter;
    font-size: 25px;
}